/* @group =reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}
ul, ol {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
h1, h2, h3, h4 {
	font-family: Helvetica, Arial, sans-serif;
}
/* @end =reset */
/* @group =classes */
.hide {display: none;}
.hidden {visibility: hidden;}
.clear {clear: both;}
.align-right {text-align: right;}
.align-center {text-align: center;}
/* @end =classes */
/* @group =global-page */
body {
	width: 980px;
	margin: 0 auto;
	background-color: #efefef;
}
body > header h1 {
	background: none;
	float: left;
	padding: 2px 40px;
	font-size: 25px;
}
body > header h1 a {
	color: #000;
	text-decoration: none;
}
.page-wrapper {
	background-color: #e5e5e5;
	clear: both;
	padding-top: 2px;
}
/* @end =global-page */
/* @group =page-header */
body > header .main-panel {
	font-size: 10px;
	float: right;
}
body > header .main-panel ul li {
	display: inline;
	margin: 5px 5px;
}
body > header .main-nav {
	background-color: #afafaf;
	float: left;
	width: 98%;
	padding: 0 1%;
	padding-top: 5px;
}
body > header .main-nav ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 5px;
	background-color: #808080;
}
body > header .main-nav ul li a {
	color: #fff;
	text-decoration: none;
}
body > header .main-nav ul li:hover,  
body > header .main-nav ul li.current {
	background-color: #e5e5e5;
}
body > header .main-nav ul li:hover a,
body > header .main-nav ul li.current a {
	color: #888888;
} 
/* @end =page-header */
/* @group =page-content */
.content-wrapper > .content {
	padding: 10px;
	float: left;
}
.content-wrapper > .content > header {
	background-color: #afafaf;
	padding: 1px 10px;
	border: 3px solid #afafaf;
}
.content-wrapper > .content > div {
	background-color: #fff;
	padding: 10px;
	border: 3px solid #afafaf;
}
.sidebar {
	float: right;
	padding: 10px;
}
.box > header {
	background-color: #afafaf;
	padding: 1px 10px;
	border: 3px solid #afafaf;
	font-size: 12px;
}
.box > .box-content {
	background-color: #fff;
	padding: 10px;
	border: 3px solid #afafaf;
}
/* @end =page-content */
/* @group =messenger */
.messenger {
	background: #ffff9e;
	font-size: 12px;
	margin: 2px auto;
	padding: 5px 5px;
	text-align: center;
	width: 80%;
}
.messenger.msg-ok {
	border: 1px solid #a4a4ff;
	color: #3434ff;
}
.messenger.msg-error {
	border: 1px solid #ffa4a4;
	color: #ff3434;
}
/* @end =messenger */
/* @group =pagination */
.pagination {
	font-size: 11px;
}
.pagination ul li {
	display: inline;
}
/* @end =pagination */
/* @group =form */
.error-inline {
	display: none;
}
.form-field {
	clear: both;
	margin-bottom: 10px;
}
label {
	float: left;
	width: 100px;
	height: 24px;
}
.error label {
	color: #df2323;
}
.error .error-inline {
	color: #df2323;
	font-size: 10px;
	margin-left: 100px;
	display: block;
}
.form-field.flip span {
	float: left;
	margin-left: 95px;
}
.form-field.flip label {
	float: left;
	width: 200px;	
}
.form-field.flip .error-inline {
	clear: both;
}
form button[type="submit"] {
	margin-left: 100px;
	background-color: #afafaf;
	border: none;
	padding: 2px 10px;
}
form button[type="submit"]:hover {
	background-color: #bfbfbf;
}
form .multi p > label {
	width: auto;
	float: none;
}
form .formMultiChoose {
	height: 150px;
}
form .formMultiChoose select {
	float: left;
	height: 100%;
}
form .formMultiChoose .multiButtons {
	float: left;
	height: 100%;
	padding-left: 15px;
	width: 45px;
}
form .formMultiChoose .multiButtons button {
	margin-top: 10px;
}
form button[type="submit"] {
	margin-left: 130px;
}
form.standard label {
	width: 180px;
}
form.standard button, form.standard .error-inline {
	margin-left: 180px;
}
/* @end =form */
/* @group =site-login */
.login .content {
	width: 365px;
	margin: 0 auto;
	float: none;	
}
.login form {
	margin-left: 20px;
}
/* @end =site-login */
/* @group =site-admin */
.admin .content {
	width: 700px;
}
.admin .content > header.menu h2 {
	float: left;
}
.admin .content > header.menu a {
	float: right;
	text-decoration: none;
}
.admin .sidebar {
	width: 240px;
}
.box-content.adm ul li {
	font-size: 12px;
}
.admin article {
	margin-bottom: 20px;
}
.admin article p {
	font-size: 12px;
	padding-left: 10px;
}
.admin article ul li {
	display: inline;
	font-size: 12px;
	padding-left: 10px;
}
.admin form label {
	width: 130px;
}
.admin form .error-inline {
	margin-left: 130px;
}
/* @end =site-admin */
/* @group =site-profile */
.profile .content {
	width: 960px;
}
.profile .content .menu + div {
	float: left;
}
.profile .content .menu {
	border-right: 1px solid;
	float: left;
	margin-right: 10px;
	min-height: 250px;
	padding-right: 10px;
	width: 200px;
}
.profile .content .menu li {
	heigth: 35px;
	margin-bottom: 5px;	
}
.profile .content .menu a {
	background-color: #E5E5E5;
	color: #000000;
	display: block;
	font-size: 12px;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 185px;
}
.profile .content .menu a:hover, .profile .content .menu a.current {
	background-color: #afafaf;
}
.profile dl dd {
	font-weight: bold;
}
.profile dl dt {
	margin-bottom: 10px;
}
/* @end =site-profile */
/* @group =site-col2r */
.col2r .content {
	width: 700px;
}
.col2r .content > header.menu h2 {
	float: left;
}
.col2r .content > header.menu a {
	float: right;
	text-decoration: none;
}
.col2r .sidebar {
	width: 240px;
}
.col2r .box-content.box-r ul li {
	font-size: 12px;
}
.col2r article {
	margin-bottom: 20px;
}
.col2r article p {
	font-size: 12px;
	padding-left: 10px;
}
.col2r article ul li {
	display: inline;
	font-size: 12px;
	padding-left: 10px;
}
.col2r form label {
	width: 130px;
}
.col2r form .error-inline {
	margin-left: 130px;
}
/* @end =site-col2r */
/* @group =task-list */
.task-add-form {
	background-color: #eee;
	padding: 5px;
}
.task-list {
	list-style: circle;
	padding-left: 30px;
	font-size: 12px;
	margin: 20px 0;
}
.task-label {
	font-size: 10px;
	display: inline-block;
	height: 10px;
	padding: 5px 5px;
	background-color: #aaf;
}
.task-user {
	font-size: 12px;
	margin-left: 10px;
	display: inline-block;
	height: 14px;
	padding: 5px 5px;
	background-color: #eee;
}
.task-env {
	font-size: 10px;
	display: inline-block;
	height: 10px;
	padding: 5px 5px;
	background-color: #fcc;
}
.task-edit {
	font-size: 10px;
}
/* @end =task-list */
