<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
	<title>Tinab</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" media="projection, screen" href="/css/tinab.css" />
</head>
<body>
	<header>
		<div class="main-panel">
			<ul>
				<li>deny1@test.pl</li>
				<li><a href="">ustawienia</a></li>
				<li><a href="/index/logout">wyloguj</a></li>
			</ul>
		</div>
		<div class="main-nav">
			<ul>
				<li class="current"><a href="/">Podsumowanie</a></li>
				<li><a href="/tasks">Zadania</a></li>
			</ul>
		</div>
	</header>
	<div class="page-wrapper">
		<div class="messenger msg-info">
			sdasdasdsa
		</div>
		<div class="messenger msg-error">
			sdasdasdsa
		</div>
		<div class="content-wrapper">
			content
		</div>
	</div>
</body>
</html>
